.wpbooklist-comments-approve-pending-img{
	width:20px;
}

.wpbooklist-comments-status-wrapper{
	display: inline-block;
    text-align: center;
    min-width: 65px;
    float: right;
    position: relative;
    bottom: 10px;
    padding: 5px;
    margin-bottom: 5px;
}

.wpbooklist-comments-status-pending-wrapper{
	background-color: #FEF4F1;
    border: solid 1px #FACEBF;
    border-radius: 5px;
}


.wpbooklist-comments-number-wrapper{
	display: inline-block;
	margin-right:20px;
	width: 15%;
}

.wpbooklist-comments-number-wrapper p{
	margin-top: 0px;
	margin-bottom: 0px;
}

.wpbooklist-comments-number-wrapper .wpbooklist-edit-book-title {
	font-size: 10px;
    padding-top: 10px;
    text-decoration: none;
    font-weight: normal;
    font-variant: normal;
}

.wpbooklist-comments-number-wrapper .wpbooklist-edit-book-title:hover {
    text-decoration: underline;
}

.wpbooklist-comments-number-title-date{
	font-size:12px;
}

.wpbooklist-comments-number-title{
	font-weight:bold;
	text-decoration: underline;
}

.wpbooklist-comments-actual-wrapper{
	display:inline-block;
	vertical-align: top;
	width: 70%;
}

.wpbooklist-comments-status-wrapper p{
	margin:0px;
}

.wpbooklist-comments-archived-title-wrapper p{
	margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 14px;
}

.wpbooklist-comments-star-rating-img{
	width:60px;
}

.wpbooklist-comments-actual-wrapper textarea{
	width:100%;
}

.wpbooklist-comments-control-div-wrapper .wpbooklist-comments-control-button-update, .wpbooklist-comments-control-div-wrapper .wpbooklist-comments-control-button-edit, .wpbooklist-comments-control-div-wrapper .wpbooklist-comments-control-button-remove{
	display: inline-block!important;
	min-width: 100px;
    text-align: center;
    padding: 7px;
    padding-left: 10px;
}

.wpbooklist-comments-control-div-wrapper .wpbooklist-comments-control-button-update:hover, .wpbooklist-comments-control-div-wrapper .wpbooklist-comments-control-button-edit:hover, .wpbooklist-comments-control-div-wrapper .wpbooklist-comments-control-button-remove:hover{
	box-shadow: none;
}

.wpbooklist-comments-control-div-wrapper .wpbooklist-comments-control-button-update p, .wpbooklist-comments-control-div-wrapper .wpbooklist-comments-control-button-edit p, .wpbooklist-comments-control-div-wrapper .wpbooklist-comments-control-button-remove p{
	margin:0px;
}

.wpbooklist-comments-control-div-wrapper{
	text-align: center;
}

.wpbooklist-comments-star-rating-wrapper{
	position: relative;
    top: 10px;
}

.wpbooklist-comments-archived-selection-controls-wrapper{
	text-align: center;
}

.wpbooklist-spinner-comments{
	margin-bottom: 0px;
    margin-top: 0px;
}

.wpbooklist-comments-archived-wrapper{
	margin-top:40px;
}

.wpbooklist-comments-control-button-update, .wpbooklist-comments-control-button-edit, .wpbooklist-comments-control-button-remove{
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);
    margin: 5px;
    background-color: #F05A1A;
    padding: 7px;
    padding-left: 10px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

#wpbooklist-comments-inner-wrapper-archive-response .wpbooklist-comments-indiv-wrapper{
    text-align:left;
}

.wpbooklist-comments-wrapper .wpbooklist-book-form-indiv-attribute-container{
    width: 190px;
}



// BEGINNING OF COLORBOX CSS //
#colorbox .wpbooklist-comments-totals-wrapper, .wpbooklist-comments-totals-wrapper{
    display: inline-block;
    border: solid 1px #e1e1e1;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    min-width: 300px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.wpbooklist-comments-users-rating-img{
    width:50px;
}

.wpbooklist-comments-likes-thumb-img{
    width: 15px;
    cursor: pointer;
    position: absolute;
    top: 5px;
}

.wpbooklist-comments-likes-thumb-img:hover{
    width:18px;
}

#colorbox .wpbooklist-comments-indiv-comment-wrapper, .wpbooklist-comments-indiv-comment-wrapper{
    text-align:left;
    margin-bottom:40px;
    padding-right: 20px;
}

.wpbooklist-comments-total-likes-p{
    display:inline-block;
    font-weight: bold;
    margin-bottom:0px;
}

#wpbl-pagetd-book-comments-contents .wpbooklist-comments-actual-inner-scroll-wrapper .wpbooklist-comments-indiv-comment-wrapper .wpbooklist-comments-comment-actual-p, #wpbl-posttd-book-comments-contents .wpbooklist-comments-actual-inner-scroll-wrapper .wpbooklist-comments-indiv-comment-wrapper .wpbooklist-comments-comment-actual-p {
    margin-bottom:0px;
    margin-left: 10px;
    font-size:13px;
}

.wpbooklist-comments-username-p{
    font-weight:bold;
    margin-bottom: 5px;
}

.wpbooklist-comments-likes-thumb-img-wrapper{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
}

.wpbooklist-comments-readmore-link{
    font-size: 11px;
    margin-left: 10px;
    display: inline-block!important;
    width: auto!important;
}

.wpbooklist-comments-actual-inner-scroll-wrapper{
    max-height:350px;
    overflow: auto;
}

.wpbooklist-comments-add-comment-rating-title, .wpbooklist-comments-add-comment-title{
    margin-bottom:10px;
    font-weight: bold;
}

.wpbooklist-comments-add-comment-title{
    display: inline-block;
    min-width: 300px;
    padding-top: 20px;
}

.wpbooklist-comments-add-comment-rating-img{
    width:80px;
}

.wpbooklist-comments-add-comment-submit-wrapper{
    margin-top:20px!important;
}

#colorbox .wpbooklist-comments-add-comment-wrapper, .wpbooklist-comments-add-comment-wrapper{
    box-shadow: 0px -13px 14px -14px #e1e1e1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#colorbox #wpbooklist-spinner-comments, #wpbooklist-spinner-comments{
    height: 10px;
    width: 10px;
    margin: 5px auto;
}

#colorbox #wpbooklist-colorbox-comments-response-div, #wpbooklist-colorbox-comments-response-div, #colorbox  #wpbooklist-colorbox-comments-register-response-div, #wpbooklist-colorbox-comments-register-response-div{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 30px;
}

.wpbooklist-comments-no-comments-yet{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

.wpbooklist-comments-average-rating-img{
    width: 60px;
}

#wpbl-pagetd-book-comments-div .wpbooklist-comments-add-comment-wrapper, #wpbl-posttd-book-comments-div .wpbooklist-comments-add-comment-wrapper{
    margin-left: initial;
}

#wpbl-pagetd-book-comments-div .wpbooklist-comments-indiv-comment-wrapper, #wpbl-posttd-book-comments-div .wpbooklist-comments-indiv-comment-wrapper{
    margin-bottom:20px;
}

#wpbl-pagetd-book-comments-div .wpbooklist-comments-add-comment-rating-title, #wpbl-posttd-book-comments-div .wpbooklist-comments-add-comment-rating-title{
    margin-top:20px;
}

#wpbl-pagetd-book-comments-div, .wpbooklist-comments-username-p, #wpbl-posttd-book-comments-div, .wpbooklist-comments-username-p, #wpbl-pagetd-book-comments-div .wpbooklist-comments-total-likes-p, #wpbl-posttd-book-comments-div .wpbooklist-comments-total-likes-p{
    font-weight:normal;
    font-size:13px;
}

.wpbooklist-comments-add-comment-actual-wrapper input{
    margin-top:10px;
    margin-bottom:10px;
}

#colorbox .wpbooklist-comments-actual-wrapper label{
    font-size:12px;
}

.wpbooklist-comments-add-comment-wrapper input{
    margin-top:0px;
}
// END OF COLORBOX CSS //