.wpbooklist-comments-approve-pending-img{
	width:20px;
}

.wpbooklist-comments-status-wrapper{
	display: inline-block;
    text-align: center;
    min-width: 65px;
    float: right;
    position: relative;
    bottom: 10px;
    padding: 5px;
    margin-bottom: 5px;
}

.wpbooklist-comments-status-pending-wrapper{
	background-color: #FEF4F1;
    border: solid 1px #FACEBF;
    border-radius: 5px;
}


.wpbooklist-comments-number-wrapper{
	display: inline-block;
	margin-right:20px;
	width: 15%;
}

.wpbooklist-comments-number-wrapper p{
	margin-top: 0px;
	margin-bottom: 0px;
}

.wpbooklist-comments-number-wrapper .wpbooklist-edit-book-title {
	font-size: 10px;
    padding-top: 10px;
    text-decoration: none;
    font-weight: normal;
    font-variant: normal;
}

.wpbooklist-comments-number-wrapper .wpbooklist-edit-book-title:hover {
    text-decoration: underline;
}

.wpbooklist-comments-number-title-date{
	font-size:12px;
}

.wpbooklist-comments-number-title{
	font-weight:bold;
	text-decoration: underline;
}

.wpbooklist-comments-actual-wrapper{
	display:inline-block;
	vertical-align: top;
	width: 70%;
}

.wpbooklist-comments-status-wrapper p{
	margin:0px;
}

.wpbooklist-comments-archived-title-wrapper p{
	margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 14px;
}

.wpbooklist-comments-star-rating-img{
	width:60px;
}

.wpbooklist-comments-actual-wrapper textarea{
	width:100%;
}

.wpbooklist-comments-control-div-wrapper .wpbooklist-comments-control-button-update, .wpbooklist-comments-control-div-wrapper .wpbooklist-comments-control-button-remove{
	display: inline-block!important;
	min-width: 100px;
    text-align: center;
    padding: 7px;
    padding-left: 10px;
}

.wpbooklist-comments-control-div-wrapper .wpbooklist-comments-control-button-update:hover, .wpbooklist-comments-control-div-wrapper .wpbooklist-comments-control-button-remove:hover{
	box-shadow: none;
}

.wpbooklist-comments-control-div-wrapper .wpbooklist-comments-control-button-update p, .wpbooklist-comments-control-div-wrapper .wpbooklist-comments-control-button-remove p{
	margin:0px;
}

.wpbooklist-comments-control-div-wrapper{
	text-align: center;
}

.wpbooklist-comments-star-rating-wrapper{
	position: relative;
    top: 10px;
}

.wpbooklist-comments-archived-selection-controls-wrapper{
	text-align: center;
}

.wpbooklist-spinner-comments{
	margin-bottom: 0px;
    margin-top: 0px;
}

.wpbooklist-comments-archived-wrapper{
	margin-top:40px;
}





#colorbox .wpbooklist-comments-totals-wrapper{
	display: inline-block;
    border: solid 1px #e1e1e1;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    min-width: 300px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.wpbooklist-comments-users-rating-img{
	width:50px;
}

.wpbooklist-comments-likes-thumb-img{
	width:15px;
	cursor:pointer;
}

.wpbooklist-comments-likes-thumb-img:hover{
	width:18px;
}

#colorbox .wpbooklist-comments-indiv-comment-wrapper{
	text-align:left;
	margin-bottom:40px;
	padding-right: 20px;
}

.wpbooklist-comments-total-likes-p{
	display:inline-block;
	font-weight: bold;
}

.wpbooklist-comments-comment-actual-p{
	margin-bottom:0px;
	margin-left: 10px;
	font-size:13px;
}

.wpbooklist-comments-username-p{
	font-weight:bold;
	margin-bottom: 5px;
}

.wpbooklist-comments-likes-thumb-img-wrapper{
	display: inline-block;
    width: 20px;
}

.wpbooklist-comments-readmore-link{
	font-size: 11px;
    margin-left: 10px;
    display: inline-block!important;
    width: auto!important;
}

.wpbooklist-comments-actual-inner-scroll-wrapper{
	height:350px;
	overflow: auto;

}